version: "3.9"
services:
  nginx:
    image: nginx_image
    ports:
            - "443:443"
    container_name: nginx_container
    build: ./requirements/nginx
    networks:
            - spidernet
    volumes:
            - wordpress:/var/www/wordpress
    restart: unless-stopped
    depends_on:
            - wordpress
  wordpress:
    build: 
      context: ./requirements/wordpress
      args:
              - MYSQL_USER=${MYSQL_USER}
              - MYSQL_PASSWORD=${MYSQL_PASSWORD}
              - MYSQL_DATABASE=${MYSQL_DATABASE}
              - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
    image: wordpress_image
    container_name: wordpress_container
    networks:
            - spidernet
    volumes:
            - wordpress:/var/www/wordpress
    restart: unless-stopped
    depends_on:
            - mariadb
  mariadb:
    build: 
      context: ./requirements/mariadb
      args:
              - MYSQL_USER=${MYSQL_USER}
              - MYSQL_PASSWORD=${MYSQL_PASSWORD}
              - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
              - MYSQL_DATABASE=${MYSQL_DATABASE}
              - MYSQL_SUPERUSER=${MYSQL_SUPERUSER}
              - MYSQL_SUPERPASSWORD=${MYSQL_SUPERPASSWORD}
    image: mariadb_image
    container_name: mariadb_container
    networks:
            - spidernet
    volumes:
            - db:/var/www/db
    restart: unless-stopped
networks:
  spidernet:

volumes:
  wordpress:
    name: wordpress_volume
    external: false
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/cnavarro/data/wordpress
  db:
    name: db_volume
    external: false
    driver: local
    driver_opts:
     type: none
     o: bind
     device: /home/cnavarro/data/db
